<div class="row mb footer">
            Thông tin liên hệ:<br><br>
            <i class="fa-solid fa-phone mr"></i>0123456789<br><br>
            <i class="fa-solid fa-location-dot mr"></i>370 đường 3/2, p.Xuân Khánh, q.Ninh Kiều, tp.Cần Thơ
        </div>