<div class="boxcenter">
        <div class="row mb header">
            <h1>ADMIN</h1>
        </div>
        <div class="row mb menu">
            <ul>
                <li><a href="/home">Trang chủ</a></li>
                <li><a href="/dish">Menu</a></li>
                <li><a href="staff">Nhân viên</a></li>
                <li><a href="">Khách hàng</a></li>
                <li><a href="#">Đơn hàng</a></li>
                <li><a href="#">Báo cáo - Thống kê</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="row headernewfood">
                <h1>Menu</h1>
            </div>
            <div class="row frmcontent">
                <form action="#" method="post">
                    <div class="row mb">
                        <div class="boxphai mr">
                            <div class="row mb">
                                <div class="boxtitle">DANH MỤC</div>
                                <div class="danhmucadmin boxcontent2">
                                    <ul>
                                        <a href="dish_list/donuong">
                                            <li>Đồ nướng</li>
                                        </a>
                                        <a href="#">
                                            <li>Lẩu</li>
                                        </a>
                                        <a href="#">
                                            <li>Cơm</li>
                                        </a>
                                        <a href="#">
                                            <li>Bún</li>
                                        </a>
                                        <a href="#">
                                            <li>Phở</li>
                                        </a>
                                        <a href="#">
                                            <li>Mì</li>
                                        </a>
                                        <a href="#">
                                            <li>Món khác</li>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="boxtrai frmdsachmon">
                            <div class="tabledsmon">
                                <table>
                                    <tr>
                                        <th></th>
                                        <th>HÌNH ẢNH</th>
                                        <th>TÊN MÓN</th>
                                        <th></th>
                                    </tr>
                                    {{#each dishes}}
                                    <tr>
                                        <td><input type="checkbox" name="" id=""> </td>                  
                                        <td id="img"><img src="{{this.image}}" alt=""></td>
                                        <td>{{this.name}}<br>
                                            ${{this.coat}}
                                        </td>
                                        <td>
                                            <div class="icon">
                                                    <button><i class="fa-solid fa-pen"></i></button>
                                                    <button><i class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </table>
                            </div>
                        </div>
                    </div>  
                    <div class="row btn mb10 ">
                       <input type="button" value="Chọn tất cả">
                       <input type="reset" value="Bỏ chọn tất cả">
                       <input type="button" value="Xóa các mục đã chọn">
                       <a href="/home"><input type="button" value="Thêm mới"></a>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mb footer">
            Thông tin liên hệ:<br><br>
            <i class="fa-solid fa-phone mr"></i>0123456789<br><br>
            <i class="fa-solid fa-location-dot mr"></i>370 đường 3/2, p.Xuân Khánh, q.Ninh Kiều, tp.Cần Thơ
        </div>
    </div>