<div class="boxcenter">
        <div class="row mb header">
            <h1>ADMIN</h1>
        </div>

        <div class="row mb menu">
            <ul>
                <li><a href="/home">Trang chủ</a></li>
                <li><a href="/dish">Menu</a></li>
                <li><a href="/staff">Nhân viên</a></li>
                <li><a href="#">Khách hàng</a></li>
                <li><a href="#">Đơn hàng</a></li>
                <li><a href="#">Báo cáo - Thống kê</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="row headernewfood">
                <h1>Thêm mới món ăn</h1>
            </div>
            <div class="row frmcontent">
                <form action="/home" method="POST">
                    <div class="row mb10">
                        Mã món:<br>
                        <input type="text" name="_id" disabled>
                    </div>
                    <div class="row mb10">
                        Tên món:<br>
                        <input type="text" id="name" name="name">
                    </div>
                    <div class="row mb10">
                        Giá:<br>
                        <input type="text" id="coat" name="coat">
                    </div>
                    <div class="row mb10">
                        Hình ảnh:<br>
                        <input type="file" id="image" name="image" accept="image/*">
                        
                    </div>
                    <div class="row mb10">
                        <input type="submit" value="Thêm">
                        <input type="reset" value="Nhập lại">
                        <a href="/home/dish"><input type="button" value="Danh sách món ăn"></a>
                    </div>

                </form>
            </div>
        </div>
        <div class="row mb footer">
            Thông tin liên hệ:<br><br>
            <i class="fa-solid fa-phone mr"></i>0123456789<br><br>
            <i class="fa-solid fa-location-dot mr"></i>370 đường 3/2, p.Xuân Khánh, q.Ninh Kiều, tp.Cần Thơ
        </div>
    </div>